body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 2rem;
    background-color: #6ca5c4;
    color: #fffefe;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    text-shadow: 1.5px 1.5px #050505;
    padding: 0rem .5rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 1.5rem;
}

p, ul {
    padding: .5rem 2.5rem;
}

section {
    margin: 1em;
}